---
server:
    port: 8080
    tomcat:
        accept-count: 10
        accesslog:
            enabled: true
            directory: ${java.io.tmpdir}/log/
            file-date-format: .yyyy-MM-dd
            prefix: demo-access
            suffix: .log    
spring:
    datasource:
        initialization-mode: "always"
        platform: "h2"
        type: com.zaxxer.hikari.HikariDataSource
        url: jdbc:h2:mem:demo
        driver-class-name: "org.h2.Driver"
        username: "sa"
        password: ""
        hikari:
            idle-timeout: 10000
